.green {
	color: #cccc99;
}
.light-blue {
	color: #6699cc;
}

.white {
	color: #fff;
}

.blue {
	color: #003399;
}

.gold {
	color: #cc9900;
}

.dark-grey {
	color: indigo;
}

.hg-button-space {
	color: #fff;
	margin: 0 250px !important;
}

.hg-button {
	text-transform: uppercase;
	font-weight: bold;
}

.hg-button-enter,
.hg-button-bksp {
	text-transform: lowercase;
}

.size-25 {
	font-size: 25px;
}

.hg-row:last-of-type {
	.hg-button:first-child {
		display: none;
	}

	.hg-button:last-of-type {
		display: none;
	}
}

.App {
  margin-left: auto;
  margin-right: auto;
}