extends layout

block content
    h1 API Help
    
    h2 All api endpoints:
    p url.com/api/lessons - All lessons
    p url.com/api/lessons?id=lesson_id - Lesson detail (e.g. url.com/api/lessons?id=5.4)
    p url.com/api/word?id=someObjectID - a list of word details (e.g. url.com/api/word?id=5e9728d76f3fcb05c3301d56). If you want more than one word, do url.com/api/word?id=5e9728d76f3fcb05c3301d56,5e9731d66f3fcb05c33065f2 (and so on)
    p url.com/api/word?word=aardvark - a list of word details (the words can be in all cases, e.g. AaRdVaRk. api example url.com/api/word?word=aardvark). If you want more than one word, do url.com/api/word?word=aardvark,hello,grape
    p url.com/api/phonemes - All phonemes
    p url.com/api/phonemes?id=someObjectID - Phonemes detail (e.g. url.com/api/phonemes?id=5e945c7b44204c2e335d8538)
    p url.com/api/phonemes?sound=someObjectID - Sound of phoneme (e.g. url.com/api/phonemes?sound=5e945c7b44204c2e335d8538)
