extends layout

block content
    h1 API Help
    
    p To access the api, go to url.com/api/lessons
    p If you want a specific lesson, with some id, say id: 9.8
    p Then you should do the following query:
    p url.com/api/lessons?id=9.8
