extends layout

block content
    h1 API Help

    h2 All api endpoints:

    h3 Get a list of all lessons
    p url.com/api/lessons - All lessons

    h3 Get details about a single lesson
    p url.com/api/lessons?id=&lt;lesson_id of lesson&gt; - Lesson detail with a given id:
    p request body for getting the lesson with lesson_id 5.4:
    p { id: "5.4" }

    h3 Get details about an array of words.
    p url.com/api/word?ids=&lt;array of db ids&gt; - a list of words and their details. If you want more than one word you can do that as well.
    p request body for getting the word details for two words with the db ids 5e9728d76f3fcb05c3301d56 and 5e9731d66f3fcb05c33065f2
    p { ids: ["5e9728d76f3fcb05c3301d56", "5e9731d66f3fcb05c33065f2"] }
    p For just a single word, do the same
    p { ids: ["5e9728d76f3fcb05c3301d56"] }

    br
    
    p url.com/api/word?words=&lt;array of words&gt; - You can do the same as above, but with the words instead of the ids (the words can be in all cases, e.g. AaRdVaRk). If you want more than one word, you can do that
    p request body for getting the word details for the three words aardvark, grape, fruit
    p { words: ["aArdVarK", "grape", "fRUIT"] }
    p For just a single word, do the same
    p { words: [aArdVarK] }

    h3 Get a list of all the phonemes
    p url.com/api/phonemes - All phonemes

    h3 Get details about a single phoneme
    p url.com/api/phonemes?id=&lt;db id of phoneme&gt; - Phonemes detail (e.g. url.com/api/phonemes?id=5e945c7b44204c2e335d8538)
    p request body for getting the detail of the phoneme with db id 5e945c7b44204c2e335d8538:
    p { id: "5e945c7b44204c2e335d8538" }

    p url.com/api/phonemes?sound=&lt;db id of phoneme&gt; - Sound of phoneme.
    p request body for getting the sound of the phoneme with db id 5e945c7b44204c2e335d8538:
    p { sound: "5e945c7b44204c2e335d8538" }
