extends layout

block content
    h1= title

    ul.list-group
        - lesson_list.sort(function(a, b) {let textA = parseFloat(a.lesson_id); let textB = parseFloat(b.lesson_id); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each lesson in lesson_list
            li.list-group-item 
                h3 ID: #{lesson.lesson_id}
                each word in lesson.words
                    a(href=word.url) #{word.word}
                    | , 
                br    
                a.btn.btn-primary(href="/lessons/" + lesson._id + "/update") Edit
                
                

        else
            li There are no Lessons.
