extends layout

block content
    h1= title

    ul.list-group
        - lesson_list.sort(function(a, b) {let textA = parseFloat(a.lesson_id); let textB = parseFloat(b.lesson_id); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each lesson in lesson_list
            li.list-group-item 
                h3 ID: #{lesson.lesson_id}
                p #{lesson.words.join(", ")}
                a.btn.btn-primary(href="/lessons/" + lesson._id + "/update") Edit
                | 
                a.btn.btn-danger(href="/lessons/" + lesson._id + "/delete") Delete
                
                

        else
            li There are no Lessons.
