extends layout

block content
    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='lesson_id') Lesson ID:
            input#lesson_id.form-control(type='text', placeholder='14.3' name='lesson_id' value=(undefined===lesson ? '' : lesson.lesson_id))
            label(for='words') Words (Write each word separated by a "," and a space):
            input#words.form-control(type='text', placeholder='Hello, goodbye, etc.' name='words' value=(undefined===lesson ? '' : lesson.words.join(", ")))
        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul
            for error in errors
                li!= error.msg
