extends layout

block content
    h1 #{title}

    form(method='POST' action='' enctype="multipart/form-data")
        div.form-group
            label(for='phoneme') Phoneme:
            input#phoneme.form-control(type='text', placeholder='AE' name='phoneme' value=(undefined===phoneme ? '' : phoneme.phoneme))
            br
            input#soundfile(type='file' name='soundfile')
        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul
            for error in errors
                li!= error.msg
