extends layout

block content
    h1= title

    ul.list-group
        each phoneme in phonemes_list
            li.list-group-item 
                h3 Phoneme: #{phoneme.phoneme}
                audio(controls='', autoplay='false')
                    source(src=`localhost:4000/api/phoneme?phoneme=${phoneme.phoneme}`, type='audio/ogg')
                
                

        else
            li There are no Lessons.
